main {
	min-height: 80vh;
}

h3 {
	padding: 1rem 0;
}

h1 {
	font-size: 1.8rem;
	padding: 1rem 0;
}

h2 {
	font-size: 1.4rem;
	padding: 0.5rem 0;
}

.rating span {
	margin: 0.1rem;
}

.mw--150 {
	max-width: 150px;
}

/* carousel */
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
	display: flex;
}
.carousel-caption {
	position: absolute;
	top: 75%;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.8);
}

.carousel-caption h2 {
	color: #fff;
	font-size: 2rem;
	transform: translateY(-22px);
}

.carousel img {
	height: 500px;
}

.carousel a {
	margin: 0 auto;
}

@media (max-width: 900px) {
	.carousel-caption h2 {
		font-size: 2.5vw;
	}
}

:root {
	--light: #d1e1f3 !important;
	--dark: #110d0f !important;
	--primary: #0f4178 !important;
	--secondary: #f82c05 !important;
	--info: #dc5776 !important;
	--success: #02a15a !important;
	--warning: #e2ca03 !important;
	--danger: #f21101 !important;
}
